body {
  background-color: #14463c;
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1 {
  color: 	#c3829e;
  font-size: 300%;
  text-align: center;
  font-family: "Georgia", serif;
}
h2 {
  color: 	#c3829e;
  font-family: verdana;
}
h3 {
  color: #e9b1cd;
  font-family: verdana;
}
p {
  color: #f6fffc;
  font-size: 18px;
}
ul {
  font-size: 18px;
  color: #f6fffc;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
img{
  width: 400px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;  
}
li{
  margin: 0;
  padding: 0; 
}

.menu{
  max-width: 1100px;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.menu ul{
  list-style: none;
  display: flex; 
  justify-content: center;
}
.menu a{
  color: rgba(255,255,255,.85);
  font-size: 15px;
  text-decoration: none;
  padding: 20px;
}
.menu a:hover{
  background: rgba(255,255,255,.1);
  border-radius: 5px;
}

.introduccion {
  margin-top: 10px;
  text-align: center;
}
.imagenCentral {
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 140px;
  border: 2px solid rgba(255,255,255,.35);
}
.titulo {
  margin: 10px;
  color: rgba(255,255,255,.92);
  font-family: "Georgia", serif;
  font-size: 40px;
}

.subtitulo {
  margin: 0;
  color: #49c29a94;
  font-size: 20px;
}

.enlaces {
  color: #c3829e;
  text-decoration: none;
}

.bloque{
  padding: 22px;
  border-top: 1px solid rgba(255,255,255,.18);
}

form{
  width: 420px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(255,255,255,.18);
  border-radius: 16px;
  background: rgba(255,255,255,.06);
}
form input{
  color: #fff;
  width: 100%;
  padding: 10px 1px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.25);
  background: rgba(0,0,0,.15);
}
form button{
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #c3829e;
  color: #14463c;
  font-weight: bold;
  font-size: 18px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 50px;
}
