h1 {
  color: #329a83;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

.Fondo {
  background-image: url("../images/mia.jpeg");
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
  float: right;
}