body {
  background-color: #e6fffa;
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #329a83;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

.Fondo {
  max-width: 50%;
  max-height: 50%;
  height: 500px;
  width: 700px;
  float: right;
}

.enlaces {
  margin-right: 10px;
  text-decoration: none; /*Quita subrayado a los enlaces*/
  color: #198a8a;
  font-weight: bold;
  font-size: 18px;
}

.enlaces:hover {
  color: #082e2e;
}